:root {
    --corner-radius:    2em;
    --icon-radius:      0.8em;
    

    /* Colours */
    --bg-dark:          #001024;
    --bg-light:         #f0f0f0;

    --bg-light-hover:   #dfdfdf;

    --text-primary:     #cccccc;
    --text-secondary:   #aaaaaa;
    --text-dark:        #333333;
}

@font-face {
    font-family: Open_Sans;
    src: url('./font/Open_Sans/OpenSans-VariableFont_wdth,wght.ttf');
    font-style: normal;
}
@font-face {
    font-family: Open_Sans;
    src: url('./font/Open_Sans/OpenSans-Italic-VariableFont_wdth,wght.ttf');
    font-style: italic;
}
@font-face {
    font-family: Quicksand;
    src: url('./font/Quicksand/Quicksand-VariableFont_wght.ttf');
    font-style: normal;
}
@font-face {
    font-family: Roboto;
    src: url('./font/Roboto/Roboto-VariableFont_wdth\,wght.ttf');
    font-style: normal;
}
@font-face {
    font-family: Roboto;
    src: url(./font/Roboto/Roboto-Italic-VariableFont_wdth\,wght.ttf);
    font-style: italic;
}

body {
    margin: 0;
    padding: 0;
    font-family: Quicksand, Roboto, Open_Sans, sans-serif;
    background-color: var(--bg-light);
}

div#background {
    background-color: var(--bg-light);
    width: 100%;
    height: 100%;
    z-index: -1;
    position: fixed;
    top: 0;
}

div#container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 4em;
    z-index: 1;
    margin-top: 10em;
    border-radius: var(--corner-radius);
    max-width: 30em;
    margin-left: auto;
    margin-right: auto;
    position: relative;
    background-color: var(--bg-dark);
}

div#container > ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

h3#PreTitle {
    font-size: 2em;
    color: var(--text-secondary);
    margin: 0;
}

h1#Title {
    font-size: 3em;
    color: var(--text-primary);
    margin: 0;
}

h2 {
    color: var(--text-secondary);
    margin-bottom: 0;
}

div#container > ul > a {
    text-decoration: none;
}

div#container > ul > a > li {
    display: flex;
    flex-direction: column;
    margin: 1em 0;
    padding: 0.5em 1em;
    background-color: var(--bg-light);
    border-radius: var(--corner-radius);
    align-items: center;
    transition: color transform 200ms;
}

div#container > ul > a > li > h3 {
    margin: 0;
    font-size: 1.5em;
    color: var(--text-dark);
    text-decoration: none;
    margin-bottom: 0.1em;
}

div#container > ul > a > li > img {
    width: 3em;
    height: auto;
    border-radius: var(--icon-radius);
    margin: 0.5em;
}

div#container > ul > a > li:hover {
    background-color: #d0d0d0;
    transform: translateY(0.2em);
    cursor: pointer;
}

div#footer {
    position: relative;
    max-width: 30em;
    min-height: 4em;
    text-align: center;
    background-color: #001024;
    font-size: 0.9em;
    margin: 0em;
    margin-left: auto;
    margin-right: auto;
    margin-top: 5em;
    border-radius: var(--corner-radius) var(--corner-radius) 0 0;
    padding: 1em;
    color: #888888;

}

.goo-container-svg {
    filter: blur(10vw) contrast(2);
}

.blob {
    width: 50%;
    aspect-ratio: 1/1;
    border-radius: 50%;
    position: absolute;
}

.blob-one {
    background-color: blueviolet;
    animation: moveBlob1 12s infinite alternate ease-in-out;
}

.blob-two {
    background-color: #0090ff;
    animation: moveBlob2 10s infinite alternate ease-in-out;
}

.blob-three {
    background-color: #00ffea;
    animation: moveBlob3 9s infinite alternate ease-in-out;
}

@keyframes moveBlob1 {
    0% {
        transform: translate(70%, -30%);
    }
    30% {
        transform: translate(0, 0);
    }
    60% {
        transform: translate(50%, -20%);
    }
    100% {
        transform: translate( 80%, 40%);
    }
}
@keyframes moveBlob2 {
    0% {
        transform: translate(50%, -20%);
    }
    30% {
        transform: translate(80%, 40%);
    }
    60% {
        transform: translate(70%, -30%);
    }
    100% {
        transform: translate( 0, 0);
    }
}
@keyframes moveBlob3 {
    0% {
        transform: translate(50%, -20%);
    }
    30% {
        transform: translate(70%, -30%);
    }
    60%{
        transform: translate(0, 0);
    }
    100% {
        transform: translate( 80%, 40%);
    }
}